:root {
  --blyrics-panel-size: 50%;
  --blyrics-video-panel-size: 30%;
  --blyrics-fullscreen-panel-size: 66%;
  --blyrics-fullscreen-video-panel-size: 25%;
}


/* Player page styles */
ytmusic-player-page:before {
  background: var(--blyrics-background-img);
  background-position: 50% !important;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  content: "";
  filter: saturate(var(--blyrics-background-saturate)) brightness(25%) blur(var(--blyrics-background-blur));
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.2);
  z-index: -100;
}

/* Player bar styles */
ytmusic-player-bar,
#player-bar-background {
  backdrop-filter: blur(var(--blyrics-blur-amount));
}

.loading-spinner.ytmusic-tab-renderer {
  margin: 0 !important;
}

#layout[player-fullscreened][cursor-hidden]:not([show-fullscreen-controls]) * {
  cursor: none !important;
}

/* YouTube Music specific overrides */
#layout[player-ui-state="PLAYER_PAGE_OPEN"] #mini-guide-background,
#layout[player-ui-state="PLAYER_PAGE_OPEN"] #nav-bar-background,
#layout[player-ui-state="PLAYER_PAGE_OPEN"] #guide-wrapper {
  background-color: transparent !important;
  border-color: transparent !important;
}

#layout[player-ui-state="PLAYER_PAGE_OPEN"] ytmusic-player-bar,
#layout[player-ui-state="PLAYER_PAGE_OPEN"] #player-bar-background {
  background: linear-gradient(0deg, transparent, transparent) !important;
}

ytmusic-app[blyrics-stylized] #layout[player-ui-state="PLAYER_PAGE_OPEN"] #mini-guide-background,
ytmusic-app[blyrics-stylized] #layout[player-ui-state="PLAYER_PAGE_OPEN"] #nav-bar-background,
ytmusic-app[blyrics-stylized] #layout[player-ui-state="PLAYER_PAGE_OPEN"] #guide-wrapper {
  background-color: transparent !important;
  border-color: transparent !important;
}

ytmusic-app[blyrics-stylized] #layout[player-ui-state="PLAYER_PAGE_OPEN"] ytmusic-player-bar,
ytmusic-app[blyrics-stylized] #layout[player-ui-state="PLAYER_PAGE_OPEN"] #player-bar-background {
  background: linear-gradient(0deg, #00000000, #00000000) !important;
}

ytmusic-app[blyrics-stylized] ytmusic-player-bar,
ytmusic-app[blyrics-stylized] #player-bar-background {
  backdrop-filter: blur(var(--blyrics-blur-amount));
}

#player-page yt-formatted-string[is-empty] {
  display: inherit !important;
}

#tab-renderer[page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"] {
  mask-image: linear-gradient(180deg, transparent, #000 50px, #000 calc(100% - 50px), transparent);
  -webkit-mask-image: linear-gradient(180deg, transparent, #000 50px, #000 calc(100% - 50px), transparent);
  scrollbar-color: transparent transparent;
}

yt-formatted-string.text.style-scope.ytmusic-message-renderer {
  margin-top: 34px !important;
}

.subtext.ytmusic-message-renderer,
.text.ytmusic-message-renderer {
  color: hsla(0, 0%, 100%, 0.5) !important;
}

#tabsContent > tp-yt-paper-tab:nth-child(3) {
  cursor: pointer !important;
  pointer-events: auto !important;
}

yt-formatted-string.non-expandable.description.style-scope.ytmusic-description-shelf-renderer:not(.blyrics--fallback) {
  display: none !important;
}
#contents > ytmusic-description-shelf-renderer > div > yt-formatted-string.footer.style-scope.ytmusic-description-shelf-renderer {
  display: none !important;
}
yt-formatted-string.non-expandable.description.style-scope.ytmusic-description-shelf-renderer.blyrics--fallback {
  margin-block: 4rem !important;
}

#tab-renderer > ytmusic-message-renderer > yt-formatted-string.subtext.style-scope.ytmusic-message-renderer,
#tab-renderer > ytmusic-message-renderer > yt-formatted-string.text.style-scope.ytmusic-message-renderer {
  display: none !important;
}

ytmusic-message-renderer.ytmusic-tab-renderer {
  margin: 0 !important;
}

#tab-renderer:not([page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"]) #blyrics-loader,
#tab-renderer:not([page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"]) #blyrics-wrapper,
#tab-renderer:not([page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"]) .blyrics-footer {
  display: none !important;
}

ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened]
#player.ytmusic-player-page {
  mask-image: none !important;
  box-shadow:
          rgba(0, 0, 0, 0.2) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(
                  0,
                  0,
                  0,
                  0.17
          ) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened]
#blyrics-watermark {
  display: none;
}

ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened]
#main-panel.ytmusic-player-page {
  display: flex;
  justify-content: center;
}


ytmusic-app-layout:not([is-mweb-modernization-enabled])[player-fullscreened]
> [slot="player-page"] {
  height: 100% !important;
  width: 100% !important;
}

ytmusic-app-layout:not([is-mweb-modernization-enabled])[player-fullscreened]
> [slot="player-page"]
.tab-header-container {
  display: none !important;
}

ytmusic-app-layout:not([is-mweb-modernization-enabled])[player-fullscreened]
> [slot="player-page"]
#side-panel {
  transform: translateY(-7.5rem);
}

ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened][video-mode] .content.ytmusic-player-page {
  padding: 0 var(--ytmusic-player-page-horizontal-padding) 0;
}

ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened][video-mode] .content.ytmusic-player-page {
  padding: 0 calc(var(--ytmusic-player-page-horizontal-padding) / 2) 0;
}

ytmusic-player-page:not([is-mweb-modernization-enabled])[video-mode]
.side-panel.ytmusic-player-page {
  margin: 0 0 0 calc(var(--ytmusic-player-page-content-gap) / 2);
}

ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened] .av.ytmusic-player-page {
  position: relative;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
}

#side-panel {
  min-width: 33em;
}

ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened]
#blyrics-song-info {
  display: block;
  text-align: center;
  margin: 0 auto;
  transform: translateY( calc(var(--ytmusic-nav-bar-height) * -1));
  padding-top: 2rem;
}

ytmusic-player-page:not([is-mweb-modernization-enabled]):not([player-ui-state=MINIPLAYER])
#player.ytmusic-player-page {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  margin: auto auto;
  justify-content: center;
}

/*
Keep album art small
 */
ytmusic-player-page:not([is-mweb-modernization-enabled]):not([video-mode]):not([player-ui-state=MINIPLAYER]) #player.ytmusic-player-page {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

ytmusic-player-page:not([is-mweb-modernization-enabled]):not([is-mweb-modernization-enabled]):not([video-mode])
#player.ytmusic-player-page {
  max-width: 400px !important;
}

ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened]
#player.ytmusic-player-page {
  margin: 0 auto;
}

/* Media queries */
@media (min-width: 936px) {
  #side-panel {
    max-width: unset;
  }

  /* Normal panel sizes */
  ytmusic-player-page:not([is-mweb-modernization-enabled])[video-mode]
  #side-panel {
    width: var(--blyrics-video-panel-size);
  }

  ytmusic-player-page:not([is-mweb-modernization-enabled]):not([video-mode])
  #side-panel {
    width: var(--blyrics-panel-size);
  }

  /* Fullscreen panel sizes */
  ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened]:not([video-mode])
  #side-panel {
    width: var(--blyrics-fullscreen-panel-size);
  }

  ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened][video-mode]
  #side-panel {
    width: var(--blyrics-fullscreen-video-panel-size);
  }

  ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened]:not([video-mode])
  #player.ytmusic-player-page {
    margin-bottom: 0;
    margin-top: 0;
  }

  ytmusic-app-layout[player-fullscreened][show-fullscreen-controls]:not([blyrics-dfs]) > [slot="player-bar"] {
    width: 100%;
  }
  ytmusic-app-layout[player-fullscreened][show-fullscreen-controls]:not([blyrics-dfs])
  > [slot="player-bar"]
  .right-controls-buttons.ytmusic-player-bar,
  ytmusic-app-layout[player-fullscreened][show-fullscreen-controls]:not([blyrics-dfs])
  > [slot="player-bar"]
  .time-info.ytmusic-player-bar {
    color: var(--blyrics-ui-text-color);
  }
  ytmusic-app-layout[player-fullscreened][show-fullscreen-controls]:not([blyrics-dfs]) > [slot="player-bar"]:before {
    background: linear-gradient(to bottom, var(--blyrics-gradient-stops));
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
  }
  ytmusic-player-bar[player-fullscreened] #play-pause-button>.yt-icon-button>yt-icon {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 936px) {
  ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened][video-mode]
  .content.ytmusic-player-page {
    margin-top: 4em;
  }

  ytmusic-app-layout:not([is-mweb-modernization-enabled])[player-fullscreened]
  > [slot="player-page"]
  #side-panel {
    margin-top: 0;
  }
}


/* Styles for mobile screens */
#tab-renderer[is-mweb-modernization-enabled][page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"] {
  mask-image: none;
  -webkit-mask-image: none;
}
ytmusic-player-page[is-mweb-modernization-enabled][player-fullscreened]
#player-controls.ytmusic-player-page {
  max-width: 100vw;
}
ytmusic-player-page[is-mweb-modernization-enabled][player-fullscreened]
#main-panel.ytmusic-player-page {
  padding: 0 !important;
}

/*Hide Yt's lyrics*/
#contents
  > ytmusic-description-shelf-renderer
  > yt-formatted-string.footer.style-scope.ytmusic-description-shelf-renderer,
#contents
  > ytmusic-description-shelf-renderer
  > yt-formatted-string.non-expandable.description.style-scope.ytmusic-description-shelf-renderer {
  display: none;
}

.ytmusic-av-toggle{
  border-radius: 1000rem !important;
}