/* ========== README README README README README ========== */


/* ==========

If you want to modify something, I’ve left instructions marked with “ ^^ ” at the start and end of each guide. Please make sure to find the end marker before editing anything.  
For easier editing, it’s recommended to open this theme in a new tab, as long lines may wrap and become harder to follow.
Note: The background animation may be CPU-intensive on your PC. But it can be disabled if needed.

========== */

/* === Usage Notes

- "Variables" → Most of the theme can be configured here.
- "Options" → Toggleable features. Each option is commented out by default, remove the comment to enable it.
- To change the speed or disable background animation, go to the "Background" section and adjust the duration in "animation:". (Set it to 0 to disable.)
- To add transitions between backgrounds when songs change, go to the "Options" section, just below the "Variables" section.
- The Player Page / Lyrics Page background is separate from the main background. If you want to apply the same variable rules there, check "Options" section.
- To change the font, go to the "Font and Scrollbar" section near the top of the theme and edit the font family. To change it specifically for the Better Lyrics extension, go to the "Better Lyrics Extension" section near the bottom.
- Mobile View Background is also separated from the rest of the background.
- To use this theme with other Better Lyrics themes, simply paste your theme right below this theme at the bottom.

=== */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* ===ROOT=== */

/* Hide the main page scrollbar */
html {
	scrollbar-width: none;
}

/* Push the layout back after hiding */
ytmusic-app-layout>[slot=player-bar] {
	width: 100vw;
}

/* Font and Scrollbar */
* {
	font-family: "Inter" !important;
	font-weight: 400 !important;
	scrollbar-width: none;
}

/* Scrollbar spacing in player page */
ytmusic-tab-renderer.ytmusic-player-page {
	padding-right: 12px;
	margin-right: -10px;
}

/* ===Variables=== */

/* ^^ Most of the style can be configure here and they will change across the theme. BG = Background ^^ */
:root {
	--bg-scale: 1.3;
	/* Scale/Zoom */
	--bg-blur: 0.6;
	/* Blur (multiplied by 100px) */
	--bg-brightness: 0.7;
	/* Brightness */
	--bg-sat: 1.5;
	/* Saturation */
	--uiblur: 10px;
	/* UI Backdrop */
	--colorOption: rgba(0, 0, 0, 0);
	/* UI Color */
	--buttonColor: rgba(255, 255, 255, .1);
	/* Buttons' Background Color */
	--big-art: 25px;
	/* Big Art Border Radius*/
	--small-art: 8px;
	/* Small Art Border Radius */
	--drop-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	--borderColor: transparent;
	/* Default: 1px solid rgba(255, 255, 255, .1) */
	--albumsize: 400px;
	/* Album Art Size in Player Page */
	--selectBRad: 8px;
	/* Border Radius for Smaller Selections */
	--bigselectBRad: 12px;
	/* Border Radius for Larger Selections */
}

/* ===Options=== */

/* Scrollbar On */
/* ^^ To make the scrollbar appear only on hover, add "scrollbar-color: transparent transparent;" below "scrollbar-width" ^^ */
/* ^^ To show scrollbar, remove this line
        * {
            scrollbar-width: thin;
            }
        *:hover {
            scrollbar-color: rgba(255, 255, 255, 1) transparent;
        }
    And this line ^^ */

/* Player Page Background */

/* ^^ To also apply the filter from the "Variables" section to the player page (the lyrics page), remove this line.
        ytmusic-player-page::before {
            transform: scale(var(--bg-scale));
            opacity: 1;
            filter: blur(calc(var(--bg-blur) * 100px)) saturate(var(--bg-sat)) brightness(var(--bg-brightness));
            animation: scalePulse 8s ease-in-out infinite,
            slowRotate 30s linear infinite;
            animation-composition: add;
            will-change: transform;
        }
    And remove this line. The reason i dont do this myself already is becuz incase someone want to configure it separately with their Better Lyrics Theme ^^ */

/* Background Transition */

/* ^^ If you want your background to fade in when song changes, remove this line
        ytmusic-app #browse-page ytmusic-section-list-renderer::before,
        ytmusic-app #search-page ytmusic-section-list-renderer::before,
        ytmusic-player-page[is-mweb-modernization-enabled] #main-panel.ytmusic-player-page::before,
        ytmusic-player-page::before {
            transition: background 0.3s ease-in;
            will-change: background;
        }
    And this line. ^^ */

/* Animation Keyframes */
@keyframes scalePulse {
	0% {
		transform: scale(1.2);
	}

	50% {
		transform: scale(1.3);
	}

	100% {
		transform: scale(1.2);
	}
}

@keyframes slowRotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* Icons */
button.yt-icon-button {
	color: rgb(255, 255, 255);
}

/* Icons Interaction */
.stroke.yt-interaction,
.fill.yt-interaction {
	border: 0;
	background: transparent;
}

/* Universal Small Art */
yt-img-shadow[object-fit=CONTAIN] img.yt-img-shadow {
	border-radius: var(--small-art);
	object-fit: cover !important;
}

/* Big Art and Video */
ytmusic-two-row-item-renderer[aspect-ratio=MUSIC_TWO_ROW_ITEM_THUMBNAIL_ASPECT_RATIO_SQUARE] .image-wrapper.ytmusic-two-row-item-renderer,
.image.ytmusic-two-row-item-renderer,
.html5-video-player {
	border-radius: var(--big-art);
}

/* Small Art Hover */
.ytmusic-play-button-renderer,
.thumbnail-overlay {
	border-radius: var(--small-art);
	overflow: hidden;
}

/* Big Art Hover */
.thumbnail-overlay.ytmusic-two-row-item-renderer {
	border-radius: var(--big-art);
}

/* Art in Miniplayer and Playerpage */
#song-image.ytmusic-player,
.song-media-controls.ytmusic-player,
ytmusic-player.ytmusic-player-page {
	border-radius: var(--big-art) !important;
	overflow: hidden;
	box-shadow: var(--drop-shadow);
}

/* Background Behind Art */
ytmusic-player {
	background-color: transparent;
}

/* Selection Overlay When Focused */
ytmusic-responsive-list-item-renderer[play-button-state],
#items.ytmusic-carousel>ytmusic-multi-row-list-item-renderer.ytmusic-carousel {
	border-radius: var(--small-art);
}


/* ===Background=== */

/* Background */
ytmusic-app #browse-page ytmusic-section-list-renderer::before,
ytmusic-app #search-page ytmusic-section-list-renderer::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--blyrics-background-img);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transform: scale(var(--bg-scale));
	z-index: -50;
	opacity: 1;
	filter: blur(calc(var(--bg-blur) * 100px)) saturate(var(--bg-sat)) brightness(var(--bg-brightness));
	animation: scalePulse 8s ease-in-out infinite,
		slowRotate 30s linear infinite;
	animation-composition: add;
	will-change: transform;
}

/* Background Fix */
ytmusic-browse-response[has-background]:not([disable-gradient]) .background-gradient.ytmusic-browse-response {
	background: transparent !important;
	position: relative;
}

ytmusic-fullbleed-thumbnail-renderer[is-background] .image.ytmusic-fullbleed-thumbnail-renderer {
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

/* ===Homepage=== */

/* Nav Bar Top */
#nav-bar-background.ytmusic-app-layout,
ytmusic-app-layout.content-scrolled #nav-bar-background.ytmusic-app-layout,
ytmusic-app-layout.content-scrolled #nav-bar-divider.ytmusic-app-layout {
	opacity: 1;
	backdrop-filter: blur(var(--uiblur));
	background: var(--colorOption);
	border: var(--borderColor) !important;
}

/* Nav Bar Left */
ytmusic-app-layout[is-bauhaus-sidenav-enabled].content-scrolled #mini-guide-background.ytmusic-app-layout,
ytmusic-app-layout[is-bauhaus-sidenav-enabled][player-page-open] #mini-guide-background.ytmusic-app-layout {
	opacity: 0;
}

/* Drawer */
ytmusic-app[is-bauhaus-sidenav-enabled] #guide-wrapper.ytmusic-app {
	background: var(--colorOption);
	padding: 2px;
	border-right: var(--borderColor);
	backdrop-filter: blur(var(--uiblur));
}

/* Divider */
#divider.ytmusic-guide-section-renderer {
	border-top: 0;
}

/* New Playlist Button */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal {
	background: var(--buttonColor);
	border: var(--borderColor);
}

.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--tonal:hover {
	background: rgba(255, 255, 255, .2);
}

/* Sign in Divider in Drawer*/
ytmusic-guide-signin-promo-renderer[is-collapsed] {
	border-top: 0 !important;
}

/* The 3 Buttons Above Carousel */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--outline,
yt-icon-button.ytmusic-carousel-shelf-renderer {
	background: var(--buttonColor);
	border: var(--borderColor);
}

/* Podcast Hover Background Behind the 3 Dots */
ytmusic-multi-row-list-item-renderer:hover .menu.ytmusic-multi-row-list-item-renderer,
ytmusic-multi-row-list-item-renderer[focus-within] .menu.ytmusic-multi-row-list-item-renderer {
	background: transparent;
}


/* Search Box */
ytmusic-search-box .search-box {
	border-radius: 12px !important;
	background: var(--buttonColor) !important;
	border: var(--borderColor) !important;
}

/* Search Box Opened*/
ytmusic-search-box[has-query] .search-container.ytmusic-search-box,
ytmusic-search-box[opened] .search-container.ytmusic-search-box {
	border-radius: 12px;
	background: var(--buttonColor) !important;
	box-shadow: var(--drop-shadow);
	border: var(--borderColor) !important;
}

ytmusic-search-box #suggestion-list {
	top: 0;
	opacity: 0;
	visibility: hidden;
	display: initial !important;
	backdrop-filter: blur(var(--uiblur));
	border-radius: 12px !important;
	background: var(--colorOption) !important;
	box-shadow: var(--drop-shadow);
	border: var(--borderColor) !important;
}

ytmusic-search-box #suggestion-list ytmusic-search-suggestions-section {
	background: transparent !important;
}

ytmusic-search-box #suggestion-list ytmusic-search-suggestion {
	background: transparent !important;
	color: rgb(255, 255, 255);
	border-radius: 12px;
}

ytmusic-search-box #suggestion-list ytmusic-search-suggestion:hover {
	background: rgba(255, 255, 255, .2) !important;
	color: rgb(255, 255, 255);
}

ytmusic-search-box[opened] #suggestion-list {
	top: calc(var(--ytmusic-search-box-height) + 16px) !important;
	opacity: 1;
	visibility: visible;
}

#suggestions.ytmusic-search-suggestions-section>.ytmusic-search-suggestions-section {
	border-radius: var(--selectBRad);
}

/* ===Search Page=== */

/* Tab Below Search */
.tab-container.ytmusic-tabs {
	box-shadow: none !important;
	background: transparent;
	border-bottom: 0;
}

/* Transition of the tab when scrolled */
#tabs.ytmusic-tabbed-search-results-renderer {
	transition: background 0.3s ease-out, backdrop-filter 0.3s ease-out;
}

/* Tab Below Search When Scrolled */
ytmusic-tabs.stuck {
	box-shadow: none !important;
	background: var(--colorOption);
	backdrop-filter: blur(var(--uiblur));
	transition: background 0.3s ease-in, backdrop-filter 0.3s ease-in;
}

/* Search Card */
.undercards-container.ytmusic-card-shelf-renderer::before,
.card-content-container.ytmusic-card-shelf-renderer::before {
	border-radius: 18px;
	background: var(--buttonColor);
	backdrop-filter: blur(var(--uiblur));
	border: var(--borderColor);
}

/* Spacing for card on the right */
.undercards-container.ytmusic-card-shelf-renderer {
	padding: 20px;
	gap: 16px;
}

/* Top spacing for the card on the right */
yt-formatted-string.text.style-scope.ytmusic-message-renderer {
	margin-top: 0px !important;
}

/* Hidden Background */
.immersive-background.ytmusic-card-shelf-renderer::before {
	background: transparent;
}

.thumbnail-container.ytmusic-card-shelf-renderer {
	border-radius: var(--big-art);
}

/* Searchpage Divider */
ytmusic-shelf-renderer:not([is-playlist-detail-page]):not([is-album-detail-page]) #contents.ytmusic-shelf-renderer>*.ytmusic-shelf-renderer:not(:last-child) {
	border-bottom: 0;
}

/* ===Player Page=== */

/* Album Art Size */
@media (min-width: 615px) {
	ytmusic-player-page:not([video-mode]):not([player-fullscreened]):not([blyrics-dfs]):not([player-ui-state="MINIPLAYER"]) #player.ytmusic-player-page {
		max-width: var(--albumsize) !important;
	}
}

/* Player Page Background Fill */
ytmusic-app-layout:not([is-mweb-modernization-enabled])>[slot=player-page] {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	padding-top: var(--ytmusic-nav-bar-height);
	padding-left: var(--ytmusic-guide-width);
	padding-bottom: var(--ytmusic-player-bar-height);
}

/* Re-center content in fullscreen */
ytmusic-player-page:not([is-video-truncation-fix-enabled])[player-fullscreened]:not([blyrics-dfs]) #player.ytmusic-player-page,
ytmusic-player-page:not([is-video-truncation-fix-enabled])[player-fullscreened]:not([blyrics-dfs]) #blyrics-song-info {
	top: 50%;
}

ytmusic-app-layout:not([is-mweb-modernization-enabled])[player-fullscreened]:not([blyrics-dfs])>[slot=player-page] {
	padding-bottom: 0;
}

/* Miniplayer Spacing Fix */
ytmusic-player[player-ui-state=MINIPLAYER] {
	bottom: calc(100vh + var(--ytmusic-mini-player-spacing) + var(--ytmusic-player-bar-height)) !important;
}

/* Queue Tab */
ytmusic-player-queue-item {
	--ytmusic-player-queue-item-thumbnail-size: 42px !important;
	--ytmusic-list-item-height: 58px;

	&:not(:last-child) {
		margin-bottom: 8px;
	}

	border-radius: var(--selectBRad);
	transform: translate3d(0, 0, 1px);
	border: 0;
	opacity: 0.825;

	&:hover:not([selected]) {
		background-color: rgba(255, 255, 255, 0.05);
		opacity: 1;
	}
}

/* Small Buttons */
ytmusic-chip-cloud-chip-renderer[chip-style^=STYLE_] a.ytmusic-chip-cloud-chip-renderer {
	background: var(--buttonColor);
	border: var(--borderColor);
	color: rgb(255, 255, 255);
}

ytmusic-chip-cloud-chip-renderer[chip-style^=STYLE_] a.ytmusic-chip-cloud-chip-renderer:hover {
	background: rgba(255, 255, 255, 0.2);
}

/* Audio-Video Toggle */
.av-toggle.ytmusic-av-toggle {
	background: var(--buttonColor);
	backdrop-filter: blur(var(--uiblur));
	border: var(--borderColor);
}

ytmusic-av-toggle[toggle-disabled] .av-toggle.ytmusic-av-toggle {
	opacity: 0.5;
}

.song-button.ytmusic-av-toggle,
.video-button.ytmusic-av-toggle {
	background: transparent;
}

/* Player Page Drawer and Nav Top */
#layout[player-ui-state=PLAYER_PAGE_OPEN] #guide-wrapper,
#layout[player-ui-state=PLAYER_PAGE_OPEN] #nav-bar-background {
	background: var(--colorOption) !important;
	border: var(--borderColor) !important;
}

/* ===Player Bar=== */

/* Player Bar */
#player-bar-background.ytmusic-app-layout,
#player-bar-background,
ytmusic-player-bar {
	background-color: var(--colorOption);
	backdrop-filter: blur(var(--uiblur));
}

/* Player Bar Art */
.image.ytmusic-player-bar {
	border-radius: var(--small-art);
	box-shadow: var(--drop-shadow);
}

/* Mobile View Player Bar Art */
ytmusic-player[is-mweb-player-bar-modernization-enabled][player-ui-state=PLAYER_BAR_ONLY] {
	border-radius: var(--small-art) !important;
}

/* Hidden Volume Control */
ytmusic-app {
	--ytmusic-player-bar-background: transparent;

	.volume-slider.ytmusic-player-bar,
	.expand-volume-slider.ytmusic-player-bar {
		--paper-slider-container-color: rgba(255, 255, 255, .5);
	}
}

/* Hide Expand Button When Expanded */
ytmusic-player-bar:has(ytmusic-player-expanding-menu[aria-hidden="false"]) .right-controls.ytmusic-player-bar .expand-button.ytmusic-player-bar {
	opacity: 0;
}

/* Progress Bar */
#progress-bar.ytmusic-player-bar {
	--paper-slider-active-color: rgb(255, 255, 255) !important;
}

/* Progress Bar Knob */
#progress-bar.ytmusic-player-bar[focused],
ytmusic-player-bar:hover #progress-bar.ytmusic-player-bar {
	--paper-slider-knob-color: #fff !important;
	--paper-slider-knob-start-color: #fff !important;
	--paper-slider-knob-start-border-color: #fff !important;
}

/* Timestamp */
#hover-time-info.ytmusic-player-bar {
	padding: 12px;
	border-radius: 12px;
	backdrop-filter: blur(var(--uiblur));
	border: var(--borderColor);
	background: var(--buttonColor);
}

/* ===Popup Containers=== */

/* ==New Playlist From Drawer== */
ytmusic-playlist-form {
	background: rgba(0, 0, 0, 0);
}

ytmusic-dialog {
	box-shadow: var(--drop-shadow);
	background-color: var(--colorOption);
	backdrop-filter: blur(var(--uiblur));
	border: var(--borderColor);
	border-radius: 25px;
}

/* Underline */
.unfocused-line.tp-yt-paper-input-container {
	border-color: rgba(255, 255, 255, .4);
}

.focused-line.tp-yt-paper-input-container {
	border-color: rgb(255, 255, 255);
}

/* Toogle Button */
.ytSwitchShapeTrack {
	background: var(--buttonColor);
}

.ytSwitchShapeKnob {
	background: rgba(255, 255, 255, .3);
}

.ytSwitchShapeKnobActive {
	background: rgba(255, 255, 255, .8);
}

/* Playlist Visibility Dropdown */
.dropdown-content.tp-yt-paper-menu-button {
	background-color: var(--colorOption);
	border-radius: 25px;
	box-shadow: var(--drop-shadow);
}

/* Dropdown Item Background1 */
.dropdown-content.ytmusic-dropdown-renderer {
	background-color: rgba(0, 0, 0, .1);
}

/* Dropdown Item Background2 */
ytmusic-dropdown-item-renderer {
	background: transparent;
}

/* Item Hover */
ytmusic-dropdown-item-renderer:hover,
ytmusic-dropdown-item-renderer:focus {
	background-color: rgba(255, 255, 255, .1);
}

/* Item Pressed */
tp-yt-paper-item.ytmusic-dropdown-item-renderer:focus::before {
	background-color: transparent;
}

/* Icons */
.icon.ytmusic-dropdown-item-renderer,
tp-yt-iron-icon.tp-yt-paper-dropdown-menu,
ytmusic-dropdown-renderer[dropdown-style=underline] .icon.ytmusic-dropdown-renderer {
	color: #ffffff;
}

/* Add to Playlist */
tp-yt-paper-dialog[modern],
ytmusic-add-to-playlist-renderer {
	background: var(--colorOption);
	backdrop-filter: blur(var(--uiblur));
	box-shadow: var(--drop-shadow);
	border-radius: 25px;
	border: var(--borderColor);
}

/* Add to Playlist Art */
.thumbnail.ytmusic-playlist-add-to-option-renderer {
	border-radius: var(--small-art);
}

/* Add to Playlist Divider */
.top-bar.ytmusic-add-to-playlist-renderer,
ytmusic-carousel-shelf-renderer.ytmusic-add-to-playlist-renderer:not(:empty) {
	border-bottom: 0;
}

ytmusic-playlist-add-to-option-renderer:hover {
	border-radius: var(--bigselectBRad);
}

/* 3 Dots Dropdown */
ytmusic-menu-popup-renderer,
.ytmusicMultiPageMenuHost {
	display: contents;
}

tp-yt-paper-listbox.ytmusic-menu-popup-renderer {
	--paper-listbox-background-color: var(--colorOption);
	border: var(--borderColor);
	backdrop-filter: blur(var(--uiblur));
	border-radius: 25px;
	box-shadow: var(--drop-shadow);
}

#items.ytmusic-menu-popup-renderer>.ytmusic-menu-popup-renderer:hover {
	border-radius: var(--selectBRad);
}

/* Miniplayer-Hover Overlay */
ytmusic-player[player-ui-state=MINIPLAYER] .song-media-controls.ytmusic-player {
	background: linear-gradient(rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 100%);
}

/* Song Duration */
.time-info.ytmusic-player-bar,
.duration.ytmusic-player-queue-item {
	color: rgb(255, 255, 255);
}

/* Notice Popup */
tp-yt-paper-toast,
tp-yt-paper-toast.yt-notification-action-renderer,
#toast.ytmusic-notification-text-renderer {
	background: var(--colorOption);
	border-radius: 8px;
	border: var(--borderColor);
	box-shadow: var(--drop-shadow);
	backdrop-filter: blur(var(--uiblur));
}

/* Notice Text */
#text.yt-notification-action-renderer,
#sub-text.yt-notification-action-renderer {
	color: rgb(255, 255, 255);
}

.yt-spec-button-shape-next--call-to-action-inverse.yt-spec-button-shape-next--text {
	color: #38a3ff;
}

/* User Dropdown */
.ytmusicMultiPageMenuRendererHost {
	--yt-spec-call-to-action: #38a3ff;
	--yt-endpoint-hover-color: #b0daff;
	--yt-compact-link-icon-color: #fff;
	--yt-spec-outline: transparent;
	background: var(--colorOption);
	border-radius: 25px;
	border: var(--borderColor);
	box-shadow: var(--drop-shadow);
	backdrop-filter: blur(var(--uiblur));
}

ytd-simple-menu-header-renderer {
	background: transparent;
}

ytd-compact-link-renderer:hover,
tp-yt-paper-item:focus:before {
	border-radius: var(--selectBRad);
}

#contents.ytd-account-item-section-renderer>*.ytd-account-item-section-renderer:hover {
	border-radius: var(--bigselectBRad);
}

/* Settings */
.category-menu-item.iron-selected.ytmusic-settings-page,
.category-menu-item.ytmusic-settings-page:focus:not(.iron-selected) {
	background: rgba(255, 255, 255, .1);
	border-radius: var(--selectBRad);
}

ytmusic-setting-category-collection-renderer.ytmusic-settings-page {
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}

/* Dropdown */
.dropdown-content.ytmusic-setting-single-option-menu-renderer {
	background: transparent;
}

/* Divider */
.top-bar.ytmusic-settings-page,
.items.ytmusic-setting-category-collection-renderer>*.ytmusic-setting-category-collection-renderer {
	border-bottom: 0;
}

/* Toggle Buttons */
.toggle-bar.tp-yt-paper-toggle-button {
	background-color: rgba(255, 255, 255, 0.4);
	border: 1px solid rgba(255, 255, 255, 0.1);
	opacity: 0.5;
}

.toggle-button.tp-yt-paper-toggle-button {
	background-color: rgb(180, 180, 180);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

tp-yt-paper-toggle-button[checked]:not([disabled]) .toggle-bar.tp-yt-paper-toggle-button {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

tp-yt-paper-toggle-button[checked]:not([disabled]) .toggle-button.tp-yt-paper-toggle-button {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(255, 255, 255, 0.1);
}

/* Link Bar in Share*/
#bar.yt-copy-link-renderer {
	background: var(--buttonColor);
}

/* ===Artist Page=== */

/* Hidden Background */
ytmusic-immersive-header-renderer {
	background-color: var(--ytmusic-app);
}

/* Artist Header Mask */
.image.ytmusic-immersive-header-renderer {
	mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
}

/* Artist Header Gradient */
.image.ytmusic-immersive-header-renderer~.content-container-wrapper.ytmusic-immersive-header-renderer .gradient-container.ytmusic-immersive-header-renderer {
	background: linear-gradient(1turn, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

/* Overlay Over Artist Header */
.image.ytmusic-immersive-header-renderer~.content-container-wrapper.ytmusic-immersive-header-renderer {
	background-color: transparent;
}

/* Divider */
ytmusic-playlist-shelf-renderer:not([is-playlist-detail-page]) #contents.ytmusic-playlist-shelf-renderer>*.ytmusic-playlist-shelf-renderer:not(:last-child) {
	border-bottom: 1px solid transparent;
}

/* Sub Button */
ytmusic-subscribe-button-renderer {
	background: rgba(255, 0, 0, .1);
	border-radius: 18px;
	backdrop-filter: blur(var(--uiblur));
}

ytmusic-subscribe-button-renderer[is-subscribed] {
	--ytmusic-subscribe-button-color: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .1);
	backdrop-filter: blur(var(--uiblur));
}

ytmusic-subscribe-button-renderer:hover {
	background: rgba(255, 0, 0, .2);
}

ytmusic-subscribe-button-renderer[is-subscribed]:hover {
	background: rgba(255, 255, 255, .2);
}

/* Unsub Popup */
yt-confirm-dialog-renderer[dialog][dialog][dialog],
tp-yt-paper-dialog.ytmusic-popup-container:has(yt-confirm-dialog-renderer)[role=dialog] {
	background: var(--colorOption);
	outline: var(--borderColor) !important;
}

/* Shuffle and Radio Button */
.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled {
	color: rgb(255, 255, 255);
	background: var(--buttonColor);
	backdrop-filter: blur(var(--uiblur));
	border: var(--borderColor);
}

.yt-spec-button-shape-next--mono.yt-spec-button-shape-next--filled:hover {
	background: rgba(255, 255, 255, 0.2);
	border: var(--colorOption);
}

/* Podcast Header Mask */
.image.ytmusic-visual-header-renderer {
	mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
	mask-repeat: no-repeat;
	mask-size: 100% 100%;
}

/* Podcast Header Gradient */
ytmusic-visual-header-renderer[has-banner-image] .gradient-container.ytmusic-visual-header-renderer {
	background: linear-gradient(1turn, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	background-color: transparent;
}

/* Podcast Focused */
ytmusic-multi-row-list-item-renderer[play-button-state] {
	border-radius: var(--bigselectBRad);
}

/* ===Mobile View=== */

/* Bottom Tab */
ytmusic-player-page[is-mweb-modernization-enabled] .side-panel.ytmusic-player-page {
	height: 100vh;
	background: transparent;
}

/* Play Button */
.play-pause-button-wrapper.ytmusic-player-controls {
	transform: scale(1.2);
}

.play-pause-button-wrapper.ytmusic-player-controls:hover {
	transform: scale(1.4);
}

/* The Other Buttons */
.next-button.ytmusic-player-controls,
.previous-button.ytmusic-player-controls,
.shuffle.ytmusic-player-controls,
.repeat.ytmusic-player-controls,
.play-pause-button-wrapper.ytmusic-player-controls {
	color: transparent;
	background: transparent !important;
	transition: transform 0.3s ease;
	margin: 0;
}

/* The Other Buttons Hover */
.next-button.ytmusic-player-controls:hover,
.previous-button.ytmusic-player-controls:hover,
.shuffle.ytmusic-player-controls:hover,
.repeat.ytmusic-player-controls:hover {
	background: transparent;
	transform: scale(1.2);
}

/* Player Background */
ytmusic-player-page[is-mweb-modernization-enabled] #main-panel.ytmusic-player-page::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--blyrics-background-img);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -50;
	opacity: 1;
	filter: blur(20px) brightness(0.7);
}

/* Built in Image */
ytmusic-player-page[is-mweb-modernization-enabled] .background-thumbnail.ytmusic-player-page {
	width: 100vw;
	height: 100vh;
	filter: blur(20px);
}

/* Overlay Over IMG */
ytmusic-player-page[is-mweb-modernization-enabled] .background-gradient.ytmusic-player-page {
	background: transparent;
}

/* Player Bar Lyrics Opened */
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=TABS_VIEW] #top-player-bar.ytmusic-player-page {
	background: transparent;
	z-index: 1;
	backdrop-filter: none;
}

/* Original Lyrics Background */
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=TABS_VIEW] #side-panel.ytmusic-player-page {
	background: transparent !important;
}

/* BetterLyrics' Lyrics Background */
@media (max-width: 615px) {
	.blyrics-container:before {
		opacity: 0;
	}

	.blyrics-container:after {
		opacity: 0;
	}

	/* Overlay Over Lyrics Background */
	#tab-renderer[page-type=MUSIC_PAGE_TYPE_TRACK_LYRICS] {
		background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, .5));
	}
}

/* Lyrics Tab Opening Transition */
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=TABS_VIEW] .collapse-button.ytmusic-player-page,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=TABS_VIEW] .context-menu-button.ytmusic-player-page,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=TABS_VIEW] .av.ytmusic-player-page,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=TABS_VIEW] #info-panel.ytmusic-player-page,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=TABS_VIEW] #player-controls.ytmusic-player-page {
	opacity: 0 !important;
	transform: translateY(var(--ytmusic-player-page-player-bar-height));
	transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=FULL_PLAYER_VIEW] .collapse-button.ytmusic-player-page,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=FULL_PLAYER_VIEW] .context-menu-button.ytmusic-player-page,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=FULL_PLAYER_VIEW] .av.ytmusic-player-page,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=FULL_PLAYER_VIEW] #info-panel.ytmusic-player-page,
ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=FULL_PLAYER_VIEW] #player-controls.ytmusic-player-page {
	transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=TABS_VIEW] #main-panel.ytmusic-player-page {
	transform: none;
}

ytmusic-player-page[is-mweb-modernization-enabled][player-page-ui-state=TABS_VIEW] #player.ytmusic-player-page {
	height: 100%;
	left: 0;
	top: 6.5rem;
}

/* ===Better Lyrics Extension=== */
.blyrics-container span {
	font-family: "Inter" !important;
	/* ^^ Font specifically for Player/Lyrics page ^^ */
	font-size: 30px;
	font-weight: 500 !important;
}

/* Play Button Alignment Fix in Fullscreen - @boidu */
ytmusic-player-bar[player-fullscreened] #play-pause-button>.yt-icon-button>yt-icon {
	width: 32px;
	height: 32px;
}

/* Better Lyrics' Buttons */
.blyrics-footer__discord,
.autoscroll-resume-button,
.blyrics-footer__container {
	opacity: 0.5;
	background: var(--buttonColor);
	border: var(--borderColor);
	backdrop-filter: blur(var(--uiblur));
	transition: opacity 0.3s ease-in;
	will-change: opacity;
}

.blyrics-footer__discord:hover,
.autoscroll-resume-button:hover,
.blyrics-footer__container:hover {
	opacity: 1;
}